.div 
{ background:black; color:white; height:40px; width:1200px;padding:15px; position:fixed}
.class1
{background:green; float:left; margin:3px; padding:10px}
.class2:hover
{background:#CEF6F5; margin:0px; padding:10px}
.class2
{float:right; direction;ltr; margin:10px}
.div1
{background:white; color:black; display:inline-block; text-align:center;margin:95px 10px 20px 20px; padding:15px; 
font-size:20px; border:2px solid #DB3DFB}
.div1 p
{visibility:hidden;}
.div1:hover p
{visibility:visible;}
div1.one
{text-transform:capitalize; display:none}
.div4
{background-image:url("images/img1.jpg"); margin:10px; padding:50px; height:300px; width:1100px;}
.p1
{background:#c68c53; text-transform:uppercase; color:white; height:3px; width:800px; margin:100px; padding:50px;}
.div5
{background-image:url("images/img.jpg"); margin:10px; padding:50px; height:400px; width:1100px;}
.p2,.p3
{direction:rtl; background:rgba(2, 255, 26,.6); margin:120px 70px -110px; padding:20px; font-size:15px; height:50px; width:900px;}
*
{border-radius:10px;}


 


 
	